 body{
	background-color: #008080;
	margin: 0px;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 13px;
 }

.window{
	background-color: silver;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 32px;
	padding: 2px;
	border: 2px;
	border-style: solid;
	border-image: url(misc/window-outset.png) 2 stretch;
}

button{
	background-color: silver;
	border: 2px;
	border-style: solid;
	border-image: url(misc/outset.png) 2 stretch;
	margin-bottom: 2px;
	height: 22px;
	font-size: 12px;
}

.optionbutton{
	height: 23px;
	width: 75px;
}

.taskbarbutton{
	width: 160px;
	margin-left: 1;
	margin-right: 2;
	text-align: left;
}

button:active{
	border-style: solid;
	border-image: url(misc/inset.png) 2 stretch;
}

hr{
	border: 1px;
	border-style: solid;
	border-image: url(misc/small-inset.png) 1 stretch;
}

.headerbar{
	background-color: grey;
	height: 18px;
	padding-left: 2px;
}

.headertext{
	color: silver;
	position: relative;
	bottom: 25%;
}

.headerbutton{
	float: right;
	padding: 0px;
	height: 14px;
	width: 16px;
	position: relative;
	top: 2px;
}

.headerbuttonimage{
	position: relative;
	bottom: 2px;
}

.windowinset{
	background-color: white;
	border: 2px;
	border-style: solid;
	border-image: url(misc/inset.png) 2 stretch;
	padding: 2px;
}

.windowaside{
	float: left;
	width: 75px;
	min-height: inherit;
}

.iconcontainer{
	float: left;
}

.icon{
	width: 75px;
	height: 73px;
	padding-top: 2px;
	text-align: center;
	display: inline-block;
	margin-right: -3px;
}

.icontext{
	margin-top: 5px;
}

.taskbar{
	height: 26px;
	width: 100%;
	background-color: silver;
	position: absolute;
	bottom: 0px;
	border-top: solid 2px;
	border-image: url(misc/window-outset.png) 2 stretch;
}

.taskbarcontents{
	margin: 2px;
}

.marginside{
	margin-left: 2px;
	margin-right: 2px;
}

buon{
	background-color: silver;
	border: 2px;
	border-style: solid;
	border-color: white;
	border-bottom-color: grey;
	border-right-color: grey;
}